.Questions h6 {
  margin: 5px 0;
  font-size: 18px;
}

.Questions .quest {
  padding: 8px;
  font-size: 18px;
}

.Questions .quest select {
  padding: 5px;
  font-size: 16px;
  border-radius: 7px;
  background-color: #45171d;
  border: 1px solid #45171d;
  color: rgba(166, 113, 51, 1);
  transition: all 200ms ease-in-out;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
}

.Questions .quest select:hover {
  background-color: #283739;
  border: 1px solid rgba(166, 113, 51, 1);
  color: rgba(166, 113, 51, 1);
}

.Questions button {
  background-color: rgba(242, 184, 0, 1);
  font-size: 18px;
  font-weight: 700;
  border: 3px solid black;
  padding: 5px 25px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  font-family: "Cormorant Garamond", serif;
  transition: all 200ms ease-in-out;
}

.Questions button:hover {
  border: 3px solid rgba(166, 113, 51, 1);
  scale: 1.1;
  background-color: rgba(41, 36, 66, 1);
  color: rgba(166, 113, 51, 1);
}

.Questions h3 {
  text-align: center;
}
